/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.position-rel{
    position: relative;
}

.position-abs{
    position: absolute;
}

header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
}

.logo-nav{
    width: 40%;
    height: 100%;
    border: 2px solid red;
}

.start-nav{
    width: 40%;
    height: 100%;
    border: 2px solid red;
}

.jumbo{
    width: 100%;
    height: 800px;
    background-color: cadetblue;
}

.jumbo-title{
    margin: 0 auto;
    width: 80%;
    border: 2px solid coral;
    height: 150px;
}

.jumbo-img{
    width: 30%;
    border: 2px solid coral;
    height: calc(100% - 150px);
    margin-left: 310px;
}

.jumbo-under-title{
    width: 50%;
    border: 2px solid coral;
    height: calc(100% - 150px);
}

.container{
    border: 2px solid yellowgreen;
    width: 60%;
    height: 500px;
    margin: 100px auto;
}

.dropbox-title-plans{
    width: 80%;
    height: 30px;
    border: 2px solid magenta;
}

.dropbox-check-planes{
    width:30%;
    height: 30px;
    border: 2px solid slateblue;
}

.dropbox-planes{
    width: 20%;
    height: calc(100% - 60px);
    border: 2px solid orange;
}

.margin-right-planes{
    margin-left: 372.6px;
}

.dropbox-contact-planes{
    width: 100%;
    height: 60px;
    border: 2px solid sienna;
}

.partner-find{
    width: 60%;
    border: 2px solid black;
    height: 300px;
    margin: 100px auto;
}

.partner-image{
    width: 40%;
    height: 100%;
    border: 2px solid firebrick;
    margin-left: 150px;
}
.partner-text{
    width: 40%;
    height: 100%;
    border: 2px solid violet;
}

