/* RESET */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}


h1{
    font-size: 3.8rem;
}

h2{
    margin-bottom: 20px;
}

h3{

}

h4{

}

h5{
    
}

h6{
    color: gray;
}

input{
    margin-bottom: 20px;
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.position-rel{
    position: relative;
}

.position-abs{
    position: absolute;
}

header{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
}

.logo-nav{
    width: 50%;
    height: 100%;
    border: 2px solid red;
}

.start-nav{
    text-align: right;
    width: 50%;
    height: 100%;
    border: 2px solid red;
}

header div ul,li{
    display: inline;
    
}

header div li{
    font-size: 1rem;
    margin: 0 20px;
}

.jumbo{
    background-color: cadetblue;
}

.jumbo-title{
    margin: 0 auto;
    border: 2px solid coral;
    padding:50px

}

.jumbo-img{
    width: 65%;
    border: 2px solid coral;
}

.jumbo-under-title{
    width: 30%;
    border: 2px solid coral;
    padding:50px
}

.jumbo-img img{
    width: 100%;
}

.container{
    border: 2px solid yellowgreen;
    width: 70%;
    height: 500px;
    margin: 100px auto;
}

.dropbox-title-plans{
    border: 2px solid magenta;
}

.dropbox-check-planes{
    border: 2px solid slateblue;
    padding-top: 10px;
}

.input-margin{
    margin-left: 20px;
}

.dropbox-planes{
    width: 30%;
    /* height: calc(100% - 60px); */
    border: 2px solid orange;
    text-align: center;
  
}

.margin-planes{
    margin: 0 41px;
}


.dropbox-contact-planes{
    width: 100%;
    border: 2px solid sienna;
    text-align: center;
}

.partner-image{
    width: 40%;
    height: 100%;
    border: 2px solid firebrick;
   
}
.partner-text{
    width: 40%;
    height: 100%;
    border: 2px solid violet;
}

.business-title{
    width: 80%;
    height: 30px;
    border: 2px solid orange;
}

.business-img-top{
    width: calc(100% / 3);
    border: 2px solid indigo;
    height: calc(25% - 30px);
    float: left;
}

.business-text{
    width: calc(100% / 3);
    border: 2px solid rgb(0, 130, 43);
    height: calc(25% - 30px);
    float: left;
}

.business-img{
    width: calc(100% / 3);
    border: 2px solid indigo;
    height: calc(25% - 30px);
    float: left;
}

.client-title{
    width: 30%;
    border: 2px solid indianred;
    height: 60px;
}

.plans-title-spacing{
    line-height: 35px;
}

.fa-arrow-down {
    padding-top: 30px;
    font-size: 30px;

}

.fa-user{
    margin-right: 5px;
}

.text-left{
    text-align: left;
    padding: 20px;
}

.quarter-hr{
    width: 25%;
}